body {
  font-family: Yanone Kaffeesatz, sans-serif;
  text-align: center;
}

p, label, input, textarea {
  font-size: 24px; 
}

.transition {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.icons {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  background: #3366ff;
}

.linkedin-icon {
  border-color: #059;  
}

.btn-md {
  margin: 0px 8px;
  padding: 5px;
}

.btn-md:hover, .img-circle:hover {
  transform: scale(1.2);
}

.btn-md img {
    width: 31px;
    height: 31px;
}

.img-circle {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

.my-img-container {
  padding: 90px 0px;
}

.intro {
  background-image: url("https://wallpaperlayer.com/img/2015/8/3d-high-tech-wallpaper-3440-3649-hd-wallpapers.jpg");
  color: #FFF;
}

.layer {
  background: rgba(0, 10, 10, 0.65);
  width: 100%;
}

h1, h2 {
  font-size: 47px;
}

.text-intro {
  text-align: left;
  padding: 0 auto;
  margin-top: 140px;
}

.about-me {
  color: #000;
  background: #DFF;
  padding: 115px 150px;
}

.projects {
  background: #3366ff;
  color: #FFF;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  padding: 0px;
  max-width: 45%;
}

.item img{
  object-fit: cover;
  height: 350px !important;
  width: 100%;
  border-radius: 15px;
}

.item img:hover {
  transform: scale(1.2) rotate(4deg);
  border-radius: 15px;
}

.carousel-control.left, .carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0px, rgba(0, 0, 0, 0) 100%);
}

.contact-me {
  color: #000;
  background: #DFF;
  padding: 20px;
}

.input {
  width: 400px;
}

.submit-button {
  padding: 0px 50px;
  margin-right: 25px;
}

@media (max-width: 767px) {
  .text-intro {
    text-align: center;
    margin: 0px auto 30px;
  }
  
  .about-me {
  padding: 50px;
  }
  
  .projects {
  flex-direction: column;
  }
  
  .carousel-container {
  max-width: 90%;
  }
  
  .item img {
  height: 280px !important;
  }
  
  .input {
  width: 300px;
  }
}
